---
import { changeLanguage } from "i18next";
import BaseLayout from "@layouts/BaseLayout.astro";

changeLanguage("en");
---

<BaseLayout>
  <main>
    <h1>About Me</h1>

    <p>
      Hey! My name is Albertus. I'm a Software Engineer who enjoys building
      great products and crafting beautiful user experiences.
    </p>
    <p>
      Currently, I'm working as a Senior Software Engineer at <a
        href="https://speechify.com">Speechify</a
      >, building new and cool features on top of our web-based text-to-speech
      product (Chrome Extension, Web App, and Onboarding site).
    </p>
    <p>
      Before that, I was at <a href="https://stripe.com">Stripe</a> for almost two
      years. Stripe was my first full-time job right after graduation. I was the
      founding engineer for Stripe Indonesia team, and I spent majority of my time
      expanding Stripe's global payments and treasury networks in South East Asia.
    </p>
    <p>
      I'm currently in love and obsessed with building great products and I love
      stitching different parts of software components.
    </p>

    <h2>Beginnings of my career</h2>
    <hr />
    <p>
      I grew up in a village in Indonesia and I consider myself very blessed to
      have a very traditional path to Software Engineering and Computer Science.
    </p>
    <p>
      My journey with programming started at high school when I tried to
      participate in Competitive Programming through National Olympiad in
      Informatics. Even though I failed to qualify for nationals, the experience
      set my foundational in computer science very strong and that helped me a
      lot in the next several years
    </p>
    <p>
      Fortunately, even though I failed to qualify for Nationals, I managed to
      get an admission to study Computer Science at University of Indonesia.
    </p>

    <h2>Internships</h2>
    <hr />
    <p>
      Throughout my 4 years of studies in University of Indonesia, I've had the
      privilege to intern as a software engineer in <a href="github.com/google"
        >Google</a
      >, <a href="github.com/gojek">Gojek</a>, and <a
        href="github.com/traveloka">Traveloka</a
      >.
    </p>
    <p>
      At <a href="github.com/google">Google</a>, I joined <a
        href="https://flutter.dev">Flutter</a
      > team and created a new feature called <a
        href="https://flutter.dev/docs/development/tools/devtools/inspector#flutter-layout-explorer"
        >Layout Explorer</a
      >
      that helps people to understand Flex Layout in Flutter. My internship at Google
      was like a dream come true. It was truly a life-changing experience since it
      was my first time traveling to the United States and living in Seattle for
      3 months! For someone who grew up in a small town like me, I was really happy
      to be able to join Google after several interviewing attempts (~15 applications,
      ~2 interview rejections). Never in my life, I would imagine that an Indonesian
      and "rural boy" like me could join Google!
    </p>
    <p>
      After <a href="github.com/google">Google</a>, I was supposed to join and
      intern at <a href="github.com/facebook">Facebook</a> in their London office
      during the next summer (Jun - Aug '20). But unfortunately, because of the pandemic,
      my internship was cancelled.
    </p>
    <p>
      After that, instead of doing nothing for the whole summer amid the world
      pandemic situation, I decided to spend my summer remote interning at a
      very-early-stage &amp; local startup called <a
        href="https://jagocoffee.com">Jago Coffee</a
      >, tinkering around with <a href="https://flutter.dev">Flutter</a> at production
      use, while doing interview preparation for a new grad software engineering
      role.
    </p>

    <h2>Random stuffs ✨</h2>
    <hr />
    <p>
      I'm a huge nerd and I love playing JRPG video games and watching anime
      during my leisure ⚽ Also, I like to speed type and I can type around
      150-160 word per minute on average. Hit me up on <a
        href="https://data.typeracer.com/pit/profile?user=adalberht"
        >TypeRacer</a
      > ⭐
    </p>
  </main>
</BaseLayout>
