---
---

<footer>
  <hr />
  <div>
    {new Date().getFullYear()} &copy; Albertus Angga Raharja. All Rights Reserved.
  </div>
</footer>

<style>
  footer {
    width: 100%;
    padding: 1rem 0;
  }
</style>
