---
import { getBlogCollection } from "utils/content";
import { getBlogPathname } from "utils/url";

const blogEntries = (await getBlogCollection()).slice(0, 5);
---

<div>
  <h2>Latest content</h2>
  <ul>
    {
      blogEntries.map((blogPostEntry) => (
        <li>
          <a href={getBlogPathname(blogPostEntry)}>
            {blogPostEntry.data.title}
          </a>
          <time datetime={blogPostEntry.data.date.toISOString()}>
            {blogPostEntry.data.date.toLocaleDateString(undefined, {
              year: "numeric",
              month: "2-digit",
              day: "2-digit",
            })}
          </time>
        </li>
      ))
    }
  </ul>
</div>

<style>
  a {
    text-decoration: underline;
  }
  time {
    color: #666;
  }
  li {
    padding: 0.1rem 0;
  }
  h2 {
    margin-bottom: 0rem;
    padding-bottom: 0rem;
  }
</style>
